.menu{  

    list-style:circle;
      position:circle absolute;
      top: 10px;
      right: 30px;
      z-index: 10;
      cursor:pointer;
  }
  
  
  .links{
    

    float: right;
    
      padding-top: 5px;
      padding-left: 9px;
      padding-right: 9px;
      padding-bottom: 5px;
      font-family: fantasy;
      font-size: 20px;
  }
  body {
      margin: 0;
      text-align: center;
      background:linear-gradient(#f4c2c2 0%, white 100%);
  }
  img{
    height:200px;
    border-radius:50%;
    border:black solid;
  }
  #intro{
    padding-left:500px;
    padding-right:500px;
    line-height:2;
    font-size:18px;
  }
  #brand{
    font-size:100px;
    /*Paste the CSS code of "Are you serious" font from Google fonts.*/
    font-family: 'Are You Serious', cursive;
    font-family: 'Shizuru', cursive;  
}

.links:hover{
    font-size: 23px;
    text-decoration:underline;    
    }